{% extends "cms/base_page.html" %}
{% load static %}
{% block title %}
    پرداخت جديد
{% endblock %}
{% block main_content %}
    <div class="container">
    <div class="row">
        <div class="card">
            <div class="card-header"> پرداخت جديد</div>
            <div class="card-body">
               <form action="" method="post" class="form py-2">
    {% csrf_token %}
    <table class="my-1">
        {{payments_form.as_table }}
    </table>
    <button type="submit" class="btn btn-success btn-sm">
        ثبت
    </button>
    </form>
            </div>
         </div>
    </div>
    </div>
{% endblock %}